<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node.js Course</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      background: linear-gradient(to bottom, #00d2ff, #928dab);
      color: #fff;
    }
    h1 {
      text-transform: uppercase;
    }
  </style>
</head>
<body>
  <h1>Something going wrong...</h1>
</body>
</html>
