<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Contacts:</h1>
  <ul class="contacts">
    <% if (contacts.length) { %>
      <% contacts.forEach(({ link, name }) => { %>
        <li>
          <a href="<%= link %>"><%= name %></a>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>
