body {
  padding-top: 80px;
  min-height: calc(100vh - 90px);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #00d2ff, #928dab);
  color: #fff;
}

h1 {
  text-transform: uppercase;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  margin: 0;
  display: flex;
}

nav a {
  min-height: 60px;
  display: block;
  padding: 10px 20px;
  line-height: 60px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

article {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}

.info {
  display: flex;
  justify-content: space-between;
}

.post .info {
  justify-content: flex-start;
  gap: 50px;
}

h2 a {
  color: aqua;
}

form {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
  display: flex;
}

form div label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-info {
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  min-height: 30px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  padding: 3px 5px;
  outline: none;
}

textarea {
  resize: none;
  min-height: 150px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.form-button input {
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.home,
.error {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #00d2ff, #928dab);
  color: #fff;
  padding-top: 0;
}

.error h1 {
  margin-top: 0;
}

.contacts li {
  list-style-type: circle;
  padding-left: 20px;
  list-style-position: inside;
}

.error-code {
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 20px;
}

.btn-edit,
.btn-delete {
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 48px;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-edit,
.btn-delete:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-edit {
  right: 65px;
}

.btn-delete {
  right: 10px;
}
